%table
  %thead
    %tr
      %th Код
      %th Нэр
      %th DDC
      %th ISBN
      %th Эхлэх огноо
      %th Дуусах огноо
      %th
  %tbody
    - @bookrents.each do |i|
      %tr
        %td= i.book.kod
        %td= i.book.name
        %td= i.book.ddc
        %td= i.book.isbn
        %td=i.begin_date
        %td=i.end_date
        %td
          =form_for :trip, :url=>{action:"change_type"}, :method=>'post' do |o| 
            =o.hidden_field :id, value: i.id
            =o.select :status, options_for_select(@types.collect { |p|   |
               [p[:value],      p[:id]]}, i.status), {}, {onchange: "this.form.submit()" } |

%br
%br
%br
=paginate @bookrents